<!DOCTYPE html>
<html>
<head>

<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

</style>
</head>
<br>

</br></br></br></br>
<table class="tg">
<div class="card">
    <a href={{url0}} target="_blank" style="color: #993333;text-decoration:none;">
        <img src={{urlToImage0}} alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>{{title0}}</b></h4>
        </div>
    </a>
</div>
</br>
<div class="card">
    <a href={{url0}} target="_blank" style="color: #993333;text-decoration:none;">
        <img src={{urlToImage0}} alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>{{title0}}</b></h4>
        </div>
    </a>
</div>
</table>
</body>
</html>
